:root {
    --head: #837d7d;
    --side: #aaa6a4;
    --row-break: #d6d0b8;
    --fixed-slot: #f1f4c6;
    --submit-btn: #e8ad7c;
    --mint-green: #A8E6CF;
    --lavender: #D1C4E9;
    --peach: #FFCCBC;
    --baby-blue: #B3E5FC;
}

.schedule-graph {
    background-color: white;
    z-index: 10;
    width: clamp(1300px, 85vw, 100vw);
    margin-left: 2vw;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
}
table {
    background-color: white;
    cursor: default;
}

.save-btn {
    position: relative;
    bottom: clamp(1rem, 1vw, 1rem);
    left: clamp(42rem, 40.5vw, 60rem);
    border: none;
    background-color: #61f361;
    cursor: pointer;
    z-index: 10;
    padding: clamp(1rem, 1vw, 1rem) clamp(2rem, 2vw, 2rem);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 1px rgba(1,1,1,0.2);
}
.fa-share-from-square {
    font-size: clamp(3rem, 2vw, 5rem);
}
.save-btn:hover {
    transform: translateY(-1px);
    background-color: #46ef46;
}

.day-row {
    font-size: clamp(2rem, 2vw, 2rem);
    font-weight: bold;
}

.manager-row td {
    font-size: clamp(1.5rem, 1vw, 2.5rem);
}
.editable {
    cursor: pointer;
}

.head-row {
    background-color: var(--head);
    color: white;
}

.full-time-txt {
    font-size: clamp(1.3rem, 1.2vw, 2rem);
    font-weight: bold;
}
.time-slot {
    background-color: var(--fixed-slot);
    font-weight: bold;
    font-size: clamp(1.3rem, 1.4vw, 2rem);
}

.vertical-text {
    font-size: clamp(2rem, 1.5vw, 1.5rem);
    vertical-align: middle;
    text-transform: uppercase;
}
.vertical-text span {
    display: block;
    text-align: center;
}
.side {
    background-color: var(--side);
    font-size: clamp(1.5rem, 1.2vw, 2rem);
    padding: 0;
    font-weight: bold;
}
.shift-time {
    font-size: clamp(1.5rem, 1.2vw, 2rem);
    font-weight: bold;
}

/*Row-break*/
.row-break td {
    background-color: var(--row-break);
}

/*Name on Schedule*/
.schedule {
    font-weight: bold;
    font-size: clamp(1.5rem, 1.4vw, 2rem);
    width: 10vw;
}
tr:nth-child(6) .schedule {
    background-color: var(--mint-green);
}
tr:nth-child(7) .schedule {
    background-color: var(--lavender);
}
tr:nth-child(8) .schedule {
    background-color: var(--peach);
}
tr:nth-child(13) .schedule {
    background-color: var(--mint-green);
}
tr:nth-child(14) .schedule {
    background-color: var(--lavender);
}
tr:nth-child(15) .schedule {
    background-color: var(--peach);
}
tr:nth-child(16) .schedule {
    background-color: var(--mint-green);
}
tr:nth-child(17) .schedule {
    background-color: var(--lavender);
}
tr:nth-child(18) .schedule {
    background-color: var(--peach);
}
tr:nth-child(19) .schedule {
    background-color: var(--mint-green);
}
tr:nth-child(20) .schedule {
    background-color: var(--lavender);
}
tr:nth-child(21) .schedule {
    background-color: var(--peach);
}
tr:nth-child(23) .schedule {
    background-color: var(--baby-blue);
}