:root {
    --head: #837d7d;
    --side: #aaa6a4;
    --row-break: #d6d0b8;
    --fixed-slot: #f1f4c6;
    --submit-btn: #e8ad7c;
}

.schedule-graph {
    background-color: white;
    z-index: 10;
    width: clamp(90%, 85vw, 100vw);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 1.2vw;
    padding: 10px;
    text-align: center;
}

.day-row {
    font-size: clamp(1rem, 1.5vw, 1.5vw);
}

.editable {
    cursor: pointer;
}

.head-row {
    background-color: var(--head);
    color: white;
}

.full-time-txt {
    font-size: clamp(1rem, 1.2vw, 1.2vw);
}
.time-slot {
    background-color: var(--fixed-slot);
    font-weight: bold;
    font-size: clamp(1rem, 1.4vw, 1.5vw);
}
.schedule {
    font-weight: bold;
    font-size: clamp(1rem, 1.4vw, 1.5vw);
}
.side-row th {
    font-size: clamp(1rem, 1.5vw, 1.5vw);
}
.side-row td {
    height: clamp(4rem, 1.5vw, 1.5vw);
}
.side {
    background-color: var(--side);
    font-size: clamp(1rem, 1.2vw, 1.5vw);
}
.shift-time {
    font-size: clamp(1rem, 1.2vw, 1.5vw);
}

/*Row-break*/
.row-break td {
    background-color: var(--row-break);
}