@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Lilita+One&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Lilita+One&family=Lobster&family=Teko:wght@300..700&display=swap');

body {
    background: url("../assets/background2.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    margin: 0;
    padding: 0;
}
body::before {
    content: "";
    width: clamp(90rem, 100vw, 100vw);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.2);
}
.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(1350px, 100vw, 100vw);
    padding-bottom: clamp(10rem, 5vw, 15rem);
    padding-top: clamp(2rem, 2vw, 3rem);
}
.main-page h1 {
    font-size: clamp(4.5rem, 5vw, 5rem);
    font-family: "Lobster", sans-serif;
    position: relative;
    margin-left: 2rem;
}
.main-page p {
    font-family: "Teko", sans-serif;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
    text-align: center;
    font-size: clamp(5rem, 5vw, 5rem);
    z-index: 10;
    margin-left: 5rem;
}

#date-input {
    height: clamp(5rem, 4vw, 7rem);
    width: clamp(20rem, 20vw, 21rem);
    font-size: clamp(3rem, 1.3vw, 3.5rem);
    margin-bottom: clamp(3rem, 4vw, 4rem);
    margin-left: 5rem;
    z-index: 10;
}

.baekjeong-img {
    width: clamp(10rem, 13vw, 11rem);
    height: clamp(4.2rem, 5vw, 7vw);
    margin-bottom: -3vw;
    position: absolute;
    top: clamp(3rem, 1.5vw, 3rem);
    left: clamp(57rem, 63vw, 65vw);
    transform: rotateZ(25deg);
}